workflow/Bhavya_workflow.json
{
  "name": "Bhavya_workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incident",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "459becb5-8734-4a06-9f5d-3957e03a679f",
      "name": "Webhook",
      "webhookId": "55b20131-7ea7-4b9f-9914-78f21b173882"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\n\nreturn inputData.map(item => {\n  // FIX: Access the .body property where Webhook data usually lives\n  const incident = item.json.body || item.json; \n\n  const required = ['incidentId', 'severity', 'title', 'createdAt', 'ownerEmail'];\n  for (const field of required) {\n    if (!incident[field]) {\n      // This will now show you EXACTLY what it sees if it fails again\n      throw new Error(`Validation Failed: Missing ${field}. Received: ${JSON.stringify(incident)}`);\n    }\n  }\n\n  const sevMap = { 'P1': 1, 'P2': 2, 'P3': 3, 'P4': 4 };\n  const mappedSev = sevMap[incident.severity] || 4;\n\n  const dedupeKey = `${incident.incidentId}_${incident.createdAt}`.replace(/[: ]/g, '-');\n\n  const desc = incident.description || \"No description provided.\";\n  const cleanDesc = desc.length > 240 ? desc.substring(0, 237) + \"...\" : desc;\n\n  return {\n    json: {\n      ...incident,\n      mappedSeverity: mappedSev,\n      dedupeKey: dedupeKey,\n      cleanDescription: cleanDesc,\n      slackMessage: `*Incident ${incident.incidentId}* [${incident.severity}]\\n*Title:* ${incident.title}\\n*Details:* ${cleanDesc}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "c439ee2f-f8c2-4036-9472-80744c69f664",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4010/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ms-test-token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#oncall-alerts\",\n  \"text\": \"={{ $json.slackMessage }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        32
      ],
      "id": "19e52288-f8f7-47bb-9085-e52200412d64",
      "name": "slack notify"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4020/me/sendMail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "Bearer ms-test-token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"subject\": \"Incident: {{ $json.title }}\",\n    \"body\": {\n      \"contentType\": \"Text\",\n      \"content\": \"{{ $json.cleanDescription }}\"\n    },\n    \"toRecipients\": [\n      {\n        \"emailAddress\": {\n          \"address\": \"{{ $json.ownerEmail }}\"\n        }\n      }\n    ]\n  },\n  \"saveToSentItems\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        144
      ],
      "id": "72c4ebed-fe3b-4e77-9c00-b5310533bcff",
      "name": "o365 Email"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "slack notify",
            "type": "main",
            "index": 0
          },
          {
            "node": "o365 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7ba9dc37-c4d6-4e68-a84c-71875f1e92a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c698cb5e50b4366c22dfde02b11a5725a284a39415f39fb840b040e96b69772"
  },
  "id": "PTsrZsXQJciSdsS6",
  "tags": []
}